<div class="typing-index" style='background-image: url("<%= asset_path('bg_school_room.jpg') %>")'>
  <p id="target-hira">10 words</p>
  <p id="target">Press space to start!</p>
  <p id="result"></p>
  <p id="ranking"></p>
  <%= form_with url: typing_index_path, local: true do |f| %>
    <%= f.text_field :nickname, id: "nickname", style: "border: none; width: 0px;" %>
    <%= f.text_field :second, id: "second" %>
    <%= f.submit "送信", id: "btn", style: "border: none; width: 0px;"%>
  <% end %>
</div>
